@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 195, 133);
    margin: auto;
}
header {
    background-image: linear-gradient(to top,#164D2E,#227948,#45F792);
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.315);
    
}
nav > a{
    color: lightgreen;
    text-decoration: none;
    margin-right: 20px;
    text-align: left;
}
nav > a:hover {
    text-decoration: solid; 
}
main {
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
}
.extra {
    background-color: #33b86d;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    width: 600px;
    height: 600px;
}
h3 {
    color: white;
    background-color: #164D2E;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
h1 {
    font-family: 'idroid';
    color: #164D2E;
    margin: auto;
}
h1#principal {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
h2 {
    font-family: 'idroid';
    padding: 3px;
}
p.cabecalho {
    text-align: center;
    color: white;
    padding: 5px;
}
p {
    text-align: justify;
}
p.video {
    text-align: center;
    background-color: #164D2E;
    padding: 20px;    
    
}
footer {
    background-color: #164D2E;
    color: white;
    text-align: center;
    padding: 5px;
}
