@charset "UTF-8";

    body {
        background-color: rgb(70, 241, 113);
        font-family: Arial, Helvetica, sans-serif;
    }
    h1#principal {
        text-align: center;
        color: white;
        background-color: rgb(2, 126, 33);
    }
    h1 {
        color:rgb(2, 126, 33)
    }
    .basico {
        color: rgb(39, 136, 63);
    }
    .intermediario {
        color: rgb(210, 241, 70);
    }
    .avancado {
        color: rgb(241, 70, 70);
    }
